.MuiFormControl-root {
	width: 80% !important;
	margin-left: 3px !important;
}
.input-card {
	margin: 30px auto 10px auto !important;
	width: 70%;
	padding: 40px;
	border-radius: 20px !important;
}
.input-card-container {
	margin: 0px auto !important;
}
