/* .table-main {
	margin-top: 33px !important;
	border-radius: 15px !important;
	border: 1px solid #ccc !important;
	color: white !important;
}
.table-container {
	padding: 20px !important;
}
.bottom-row {
	border-top: none !important;
}
.table-top {
	display: flex !important;
	justify-content: space-between !important;
}

.MuiTableRow-head {
	background-color: red !important;
	border: 1px solid black !important;
}

.next-prev-btn {
	cursor: pointer !important;
	font-size: 13px !important;
	padding: 10px !important;
	color: #474747 !important;
	background-color: #f0f8fd !important;
	margin-top: 0px !important;
	border-radius: 5px !important;
}
.today-btn {
	padding: 8px 17px !important;
	margin: 0px 6px !important;
	border-radius: 5px !important;
	cursor: pointer !important;
	color: #818385 !important;
	background-color: #f0f8fd !important;
	font-family: Roboto !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-size: 16px !important;
	line-height: 19px !important;
}
.input-label {
	font-style: normal !important;
	font-weight: 500 !important;
	font-size: 18px !important;
	line-height: 21px !important;
	margin-top: 20px !important;
	margin-right: 10px !important;
	display: inline-block;
	width: 100px;
} */
.input-label {
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 18px !important;
  line-height: 21px !important;
  margin-top: 20px !important;
  margin-right: 10px !important;
  display: inline-block;
  width: 100px;
}

.external-drop-calendar {
  border-right: 1px solid #ccc;
}

.external-event-task {
  color: #fff;
  padding: 5px 10px 10px 10px;
  margin: 10px;
  border-radius: 8px;
  font-family: -apple-system, Segoe UI, Roboto, sans-serif;
}

.external-drop-task-blank {
  color: #999;
  border-width: 2px;
  border-style: dotted;
}

.demo-external-drag-drop.demo-wrapper,
.demo-external-drag-drop .mbsc-grid,
.demo-external-drag-drop .mbsc-row,
.demo-external-drag-drop .external-drop-calendar {
  height: 100%;
}

.mbsc-schedule-event-range {
  visibility: hidden;
}

.md-tooltip .mbsc-popup-content {
  padding: 0;
}

.md-tooltip {
  font-size: 15px;
  font-weight: 600;
}

.md-tooltip-header {
  padding: 12px 16px;
  color: #eee;
}

.md-tooltip-info {
  padding: 16px 16px 60px 16px;
  position: relative !important;
  line-height: 32px;
  z-index: 1;
}

.md-tooltip-time,
.md-tooltip-status-button {
  float: right;
}

.md-tooltip-title {
  margin-bottom: 15px;
}

.md-tooltip-text {
  font-weight: 300;
}

.md-tooltip-info .mbsc-button {
  font-size: 14px;
  margin: 0;
}

.md-tooltip-info .mbsc-button.mbsc-material {
  font-size: 12px;
}

/* Project Name / Summary  style */
.container {
  position: relative;
  cursor: pointer;
  /* height: 36px; */
  display: flex;
  align-items: center;
}

.container .second-div {
  display: none;
  pointer-events: none;
  transition: opacity 1s ease;
  overflow-y: hidden;
}

.container:hover .second-div {
  display: block;
  opacity: 1;
}

.container:hover .first-div {
  display: none;
}
/* Project Name / Summary  style */
/* 
.mbsc-timeline-row {
  height: 35px !important;
  background-color: red;
}

.mbsc-timeline-column,
.mbsc-timeline-day {
  width: 50px !important;
}

.mbsc-timeline-resource {
  height: 35px !important;
  background-color: green;
}
.mbsc-timeline-resource,
.mbsc-timeline-row {
  flex: none;
} */

.MuiPickersLayout-root {
  z-index: 9999 !important; /* Adjust the value as needed */
}

.MuiPickers-calendar-container {
  z-index: 9999 !important; /* Adjust the value as needed */
}

.md-tooltip{
  z-index: 1 !important;
}

.customized-hook-demo-listbox{
  z-index: 500 !important;
}